<!doctype html>
<html lang="en">
<head>
 <title>Ravenports Catalog</title>
 <meta charset="utf-8">
 <meta name="description" content="Searchable index of Ravenports">
 <meta http-equiv="Cache-Control" content="no-cache">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js" type="text/javascript" charset="utf-8"></script>
 <link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
 <link href="style/ravenports.css" rel="stylesheet">
 <link href="favicon.png" rel="icon" type="image/png">
 <script type="text/javascript">
function originlink (bucket, origin) {
	var parts = origin.split(':');
	var ravenlink = '<a title="Description of the ' + parts[1] +
	' variant of the ' + parts[0] + ' port." href="bucket_' +
	bucket + '/' + parts[0] + '/' + parts[1] + '">' + origin + '</a>';
	return ravenlink;
}

function row_assy(entry, bucket, origin, pkgversion, tagline, timestamp) {
	var trow = [];
	trow.push(entry);
	trow.push(originlink (bucket, origin));
	trow.push(pkgversion);
	trow.push(tagline);
	trow.push(timestamp);
	$('#catalog_table').DataTable().row.add(trow);
}

function populate_catalog() {
@ROW_ASSY@
	$('#catalog_table').DataTable().draw(false);
}

$(document).ready(function() {
	$('#catalog_table').DataTable({
		pageLength: 20,
		lengthMenu: [10, 20, 50, 100, 200],
		columns: [
			{ orderable: true,  searchable: false, order: 'asc' },
			{ orderable: true,  searchable: true },
			{ orderable: false, searchable: true },
			{ orderable: false, searchable: true },
			{ orderable: false, searchable: false },
		],
		order: [[0, 'desc']],
		autoWidth: false
		});
	populate_catalog();
})
 </script>
</head>
  <body>
    <div id="namebase1">Ravenports Universal Package System</div>
    <div id="subtitle">Searchable Catalog</div>
    <div id="catalog">
      <table id="catalog_table">
        <thead>
          <tr>
            <th title="Ordered newest to oldest with respect to modification time">No.</th>
            <th title="Port origin is defined as namebase:variant">Port Origin</th>
            <th>Version</th>
            <th>Description</th>
            <th title="Latest modification to port">Modified (UTC)</th>
          </tr>
        </thead>
        <tbody id="catalog_body"></tbody>
      </table>
    </div>
    <div id="catfooter">
      <a href="http://www.ravenports.com/" class="footlink">Ravenports official site</a>
    </div>
  </body>
</html>
