body {
  font-family: Helvetica, sans-serif;
  line-height: normal;
  font-weight: normal;
  font-stretch: normal;
  font-variant: normal;
  font-size: 14px;
  padding: 10px 20px 0px;
  background: #D6DBDF;
}

#sbt1,
#pdt2,
#dpt3,
#dlt4,
#ust5 {
    table-layout: fixed;
    width: 800px;
}

#sbt1 td,
#pdt2 td,
#dpt3 td,
#dlt4 td,
#ust5 td {
    text-align: left;
    vertical-align: text-top;
    padding: 1px 3px;
}

#sbt1 td:nth-child(1),
#pdt2 td:nth-child(1),
#dpt3 td:nth-child(1),
#dlt4 td:nth-child(1) {
    width: 150px;
}
#ust5 td { width: 50% }

#distblock,
#optionblock,
#pdt2 tbody td:nth-child(2) {
    font-family: monospace;
    white-space: pre;
}
tr:nth-child(even) {background: #F6F6F8}
tr:nth-child(odd) {background: #FEFEFE}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

table a {
   text-decoration: none;
}

#optionblock {
    border: 1px solid black;
    width: 782px;
    padding: 8px;
    background: #FEFEFE;
}

#distblock {
    border-top: 1px solid black;
    padding: 8px;
}

#footer {
    margin-top: 20px;
    border-top: 1px solid black;
    line-height: 30px;
}

#pkgdesc,
#options,
#dependencies,
#master_sites,
#distinfo,
#upstream {
    margin-top: 20px;
}

#pdtitle,
#optiontitle,
#mstitle,
#deptitle,
#disttitle,
#ustitle {
    font-weight: bold;
    font-size: 120%;
    padding-bottom: 2px;
}

#upstream_inner {
   width: 820px;
   height: 300px;
   overflow: auto;
}

#namebase1 {
   background-image: url(ravenports-200.png);
   background-repeat: no-repeat;
   height: 160px;
   font-size: 200%;
   font-weight: bold;
   color: #148F77;
   width: 800px;
   padding: 0 0 0 100px;
   text-align: center;
   line-height: 140px;
}

#namebase {
   background-image: url(raven-project.png);
   background-repeat: no-repeat;
   height: 90px;
   font-size: 200%;
   font-weight: bold;
   color: #148F77;
   width: 800px;
   padding: 0 0 0 60px;
   text-align: center;
   line-height: 70px;
}

.footlink {
   text-decoration: none;
}

#cdate, #mdate {
    font-family: monospace;
    font-size: 90%;
}
