body {
  font-family: Helvetica, sans-serif;
  line-height: normal;
  font-weight: normal;
  font-stretch: normal;
  font-variant: normal;
  font-size: 14px;
  padding: 10px 20px 0px;
  background: #D6DBDF;
}

#sbt1,
#pdt2,
#dpt3,
#dlt4,
#ust5 {
    table-layout: fixed;
    width: 800px;
}

#sbt1 td,
#pdt2 td,
#dpt3 td,
#dlt4 td,
#ust5 td {
    text-align: left;
    vertical-align: text-top;
    padding: 1px 3px;
}

#sbt1 td:nth-child(1),
#pdt2 td:nth-child(1),
#dpt3 td:nth-child(1),
#dlt4 td:nth-child(1) {
    width: 150px;
}
#ust5 td { width: 50% }

#distblock,
#optionblock,
#pdt2 tbody td:nth-child(2) {
    font-family: monospace;
    white-space: pre;
}
tr:nth-child(even) {background: #F6F6F8}
tr:nth-child(odd) {background: #FEFEFE}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

table a {
   text-decoration: none;
}

#optionblock {
    border: 1px solid black;
    width: 782px;
    padding: 8px;
    background: #FEFEFE;
}

#distblock {
    border-top: 1px solid black;
    padding: 8px;
}

#footer {
    margin-top: 20px;
    border-top: 1px solid black;
    line-height: 30px;
}

#pkgdesc,
#options,
#dependencies,
#master_sites,
#distinfo,
#upstream {
    margin-top: 20px;
}

#pdtitle,
#optiontitle,
#mstitle,
#deptitle,
#disttitle,
#ustitle {
    font-weight: bold;
    font-size: 120%;
    padding-bottom: 2px;
}

#upstream_inner {
   width: 820px;
   height: 300px;
   overflow: auto;
}

#namebase1, #subtitle {
  font-family: Georgia, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  width: 1000px;
  padding: 0 0 0 100px;
}
#namebase1 {
   background-image: url(ravenports-200.png);
   background-repeat: no-repeat;
   height: 170px;
   font-size: 200%;
   color: #148F77;
   line-height: 140px;
}

#subtitle {
  font-size: 120%;
  color: #666;
  position: relative;
  top: -75px;
}

#namebase {
   background-image: url(raven-project.png);
   background-repeat: no-repeat;
   height: 90px;
   font-size: 200%;
   font-weight: bold;
   color: #148F77;
   width: 800px;
   padding: 0 0 0 60px;
   text-align: center;
   line-height: 70px;
}

.footlink {
   text-decoration: none;
}

#cdate, #mdate {
    font-family: monospace;
    font-size: 90%;
}

#catalog {
	width: 1000px;
	margin: 0 0 12px;
	padding: 0 0 120px;
	font-size: 13px;
}

#catalog_table {
	border-collapse: separate;
	border-spacing: 0;
	border: 0;
	margin: 0;
}

#catalog_table td {
	padding: 2px;
	border-color: #D0D0D0;
}
#catalog_table td:nth-child(1) {
	text-align: center;
}
#catalog_table td:nth-child(4) {
	color: #148F77;
}
#catalog_table td:nth-child(5) {
	text-align: center;
	font-family: monospace;
	font-size: 90%;
}

#catalog_table th {
	text-align: left;
	padding: 4px 10px 3px 4px;
	background-color: #CCC;
	color: #404066;
	border: 0;
}

#catalog_table th:nth-child(1) {
	width: 6%;
}
#catalog_table th:nth-child(2) {
	width: 34%;
}
#catalog_table th:nth-child(3) {
	width: 10%;
}
#catalog_table th:nth-child(4) {
	width: 34%;
}
#catalog_table th:nth-child(5) {
	width: 16%;
}
#catalog_table th:nth-child(2),
#catalog_table th:nth-child(3),
#catalog_table th:nth-child(4) {
	text-align: left;
	padding-left: 4px;
}
#catalog_table th:nth-child(1),
#catalog_table th:nth-child(5) {
	text-align: center;
}
#catalog_table .odd {
	background-color: #F6F6F8;
}
#catfooter {
	margin: 20px 12px 0;
	border-top: 1px solid black;
	line-height: 30px;
	width: 1000px;
}
